<form>
    <div class="form-group">
        <label for="signup">Username</label>
        <input type="text" class="form-control" id="signup-username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="signup">Password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="signup">Email address</label>
        <input type="email" class="form-control" id="signup-email" placeholder="Email">
    </div>

    <button id="signup-btn" type="button" class="btn btn-default">Sign Up</button>
</form>