<div class="row">
    <div class="well">
        <div class="page-header">
            <h1>Gstrap
                <small class="text-danger">Demo</small>
            </h1>
        </div>
        <p>
            This example demonstrate Gstrap and parse server with a todo application and the bootstrap login/ signup.
        </p>
        <p>
            Sign up or login with your username and password to see the todo menu item.
        </p>

        <p>
            <a class="btn btn-primary btn" href="#!/signup/" role="button">Sign up now!</a>
        </p>

    </div>

</div>