<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="page-header">
		  <h1>{{role}}<small> users</small></h1>
		</div>
        <form class="form-inline" role="form">

            <div class="form-group">
                <label class="sr-only" for="">label</label>
                <input type="text" class="form-control" name="" id="txt-admin-new-role-user" placeholder="insert a username">
            </div>

            <button type="button" id="btn-admin-new-role-user" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new user</button>
        </form>

        <table class="table table-hover">
        	<thead>
        		<tr>
        			<th>Username</th>
                    <th>Actions</th>
        		</tr>
        	</thead>
        	<tbody id="table-role-users">
            {{#users}}
        		<tr id="{{id}}">
        			<td>{{attributes.username}}</td>
                    <td>
                            <button type="button" class="btn btn-link remove-user">Remove</button>
                        </td>
        		</tr>
            {{/users}}
        	</tbody>
        </table>

	</div>
</div>